<!DOCTYPE html>
<html lang="en-us" ng-app="animaSheet">
  <head>
    <meta charset="utf-8">
    <title>Anima Character Sheet</title>

    <link rel="stylesheet" href="style.css">

  </head>
  <body ng-controller="animaCtrl">
    <div id="header">
      <h1>Anima Character Sheet</h1>
      <hr>
    </div>

    <div id="bodyContainer">
      <div id="persistantInformation">
        <div id="basicInformation">

          <h1 class="u10"><strong><u>Basic Information</u></strong></h1>
          <br class="clearBoth" />

          <div id="column1" class="u11">

            <div class="divTable">
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Name:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charName" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Class:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charClass" ng-model="classChoice">
                </div>
                <div>
                  <button ng-click="setClass(classChoice)">Submit</button>
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Level:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charLevel" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Dev.&nbsp;Points:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charPoints" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Appearance:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charAppearance" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Size:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charSize" value="">
                </div>
              </div>
            </div>

          </div>

          <div id="column2" class="u11">

            <div class="divTable" style="display: table">
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Player:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charPlayer" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Gender:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charGender" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Age:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charAge" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Presence:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charPresence" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Hair/Eyes:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charHair" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Height/Weight:&nbsp;</span>
                </div>
                <div class="tableCell tableInput">
                  <input type="text" name="charHeight" value="">
                </div>
              </div>
            </div>

          </div>

          <div id="column3" class="u6">
            <img src="" alt="">
          </div>

          <br class="clearBoth">
          <br class="clearBoth">

        </div>


      </div>
      <div id="mainContent">
        <div>
          <ul class="tabs">
            <li rel="panel1" class="active">Base Stats</li>
            <li rel="panel2">Combat</li>
            <li rel="panel3">Other Abilities</li>
            <li rel="panel4">Equipment</li>
            <li rel="panel5">Skills</li>
            <li rel="panel6">Aether</li>
            <li rel="panel7">Magic</li>
            <li rel="panel8">Psychic</li>
          </ul>
        </div>
        <div id="basicStats" class="panel active">

          <div id="characteristicColumn" class="u9">
            <table id="characteristics">
              <th colspan="2"><strong><u>CHARACTERISTICS</u></strong></th>
              <th><strong><u>BONUS</u></strong></th>
              <tr>
                <td class="charColumnLable">Strength:</td>
                <td class="charColumnInput"><input type="number" name="charStr" ng-model="charStr"></td>
                <td class="charColumnInput"><p>{{otherStats.str}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Agility:</td>
                <td class="charColumnInput"><input type="number" name="charAgi" ng-model="charAgi"></td>
                <td class="charColumnInput"><p>{{otherStats.agi}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Dexterity:</td>
                <td class="charColumnInput"><input type="number" name="charDex" ng-model="charDex"></td>
                <td class="charColumnInput"><p>{{otherStats.dex}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Constitution:</td>
                <td class="charColumnInput"><input type="number" name="charCon" ng-model="charCon"></td>
                <td class="charColumnInput"><p>{{otherStats.con}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Intelligence:</td>
                <td class="charColumnInput"><input type="number" name="charInt" ng-model="charInt"></td>
                <td class="charColumnInput"><p>{{otherStats.int}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Power:</td>
                <td class="charColumnInput"><input type="number" name="charPow" ng-model="charPow"></td>
                <td class="charColumnInput"><p>{{otherStats.pow}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Willpower:</td>
                <td class="charColumnInput"><input type="number" name="charWil" ng-model="charWil"></td>
                <td class="charColumnInput"><p>{{otherStats.wil}}</p></td>
              </tr>
              <tr>
                <td class="charColumnLable">Perception:</td>
                <td class="charColumnInput"><input type="number" name="charPer" ng-model="charPer"></td>
                <td class="charColumnInput"><p>{{otherStats.per}}</p></td>
              </tr>
              <tr>
                <button ng-click="enterStats(charStr, charAgi, charDex, charCon, charInt, charPow, charWil, charPer)">Submit</button>
              </tr>
            </table>
          </div>

          <div id="healthColumn" class="u10">

            <table id="health">
              <th colspan="4"><strong><u>HEALTH&nbsp;AND&nbsp;DEFENSE</u></strong></th>
              <tr>
                <td class="healthColumnLable">Life&nbsp;Points:</td>
                <td class="healthColumnInput"><input type="text" name="charLifeMax" value=""></td>
                <td>&nbsp;Current:</td>
                <td class="healthColumnInput"><input type="text" name="charLifeCur" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Fatigue:</td>
                <td class="healthColumnInput"><input type="text" name="charFatMax" value=""></td>
                <td>&nbsp;Current:</td>
                <td class="healthColumnInput"><input type="text" name="charFatCur" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Physical&nbsp;R:</td>
                <td class="healthColumnInput"><input type="text" name="charPhR" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Magic&nbsp;R:</td>
                <td class="healthColumnInput"><input type="text" name="charMR" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Psychic&nbsp;R:</td>
                <td class="healthColumnInput"><input type="text" name="charPsR" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Venom&nbsp;R:</td>
                <td class="healthColumnInput"><input type="text" name="charVR" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Disease&nbsp;R:</td>
                <td class="healthColumnInput"><input type="text" name="charDR" value=""></td>
              </tr>
              <tr>
                <td class="healthColumnLable">Wear&nbsp;Armor:</td>
                <td class="healthColumnInput"><input type="text" name="charWA" value=""></td>
              </tr>
            </table>

          </div>

          <div id="speedColumn" class="u9">

            <table id="speed">
              <th colspan="2"><strong><u>SPEED</u></strong></th>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Natural)</td>
                <td class="speedColumnInput"><input type="text" name="charInitN" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Setup&nbsp;1)</td>
                <td class="speedColumnInput"><input type="text" name="charInit1" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Setup&nbsp;2)</td>
                <td class="speedColumnInput"><input type="text" name="charInit2" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Setup&nbsp;3)</td>
                <td class="speedColumnInput"><input type="text" name="charInit3" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Setup&nbsp;4)</td>
                <td class="speedColumnInput"><input type="text" name="charInit4" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Initiative&nbsp;(Setup&nbsp;5)</td>
                <td class="speedColumnInput"><input type="text" name="charInit5" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Movement&nbsp;(Ground)</td>
                <td class="speedColumnInput"><input type="text" name="charMoveG" value=""></td>
              </tr>
              <tr>
                <td class="speedColumnLable">Movement&nbsp;(Other)</td>
                <td class="speedColumnInput"><input type="text" name="charMoveO" value=""></td>
              </tr>
            </table>

          </div>

          <br class="clearBoth">
          <br class="clearBoth">

        </div>

        <div id="combatInformation" class="panel">

          <div id="combatAbilities" class="u7">
            <table>
              <th colspan="2"><strong><u>COMBAT&nbsp;ABLILITIES</u></strong></th>
              <tr>
                <td class="comColumnLable"><strong>Attack</strong></td>
                <td class="comColumnInput"><input type="text" name="charBaseAtk" value=""></td>
              </tr>
              <tr>
                <td colspan="2" class="comColumnInput"><input type="text" name="charTotAtk" value=""></td>
              </tr>
              <tr>
                <td class="comColumnLable"><strong>Block</strong></td>
                <td class="comColumnInput"><input type="text" name="charBaseBlk" value=""></td>
              </tr>
              <tr>
                <td colspan="2" class="comColumnInput"><input type="text" name="charTotBlk" value=""></td>
              </tr>
              <tr>
                <td class="comColumnLable"><strong>Dodge</strong></td>
                <td class="comColumnInput"><input type="text" name="charBaseDod" value=""></td>
              </tr>
              <tr>
                <td colspan="2" class="comColumnInput"><input type="text" name="charTotDod" value=""></td>
              </tr>
            </table>

          </div>

          <div id="weapons" class="u22">
            <span><strong><u>WEAPONS</u></strong></span>
            <div class="divTable">
              <div class="tableRow" style>
                <div class="tableCell">
                  <span><strong>Weapon&nbsp;1:&nbsp;</strong></span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Name" value="">
                </div>
                <div class="tableCell">
                  <span>Attack:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Atk" value="">
                </div>
                <div class="tableCell">
                  <span>Defense:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Def" value="">
                </div>
                <div class="tableCell">
                  <span>Damage:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Dam" value="">
                </div>
              </div>
              <div class="tableRow" style>
                <div class="tableCell">
                  <span>Special:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Spec" value="">
                </div>
                <div class="tableCell">
                  <span>Speed:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Spd" value="">
                </div>
                <div class="tableCell">
                  <span>F:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1F" value="">
                </div>
                <div class="tableCell">
                  <span>B:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1B" value="">
                </div>
                <div class="tableCell">
                  <span>P:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1P" value="">
                </div>
                <div class="tableCell">
                  <span>Type:&nbsp;</span>
                </div>
                <div class="tableCell tableInput2">
                  <input type="text" name="charWeap1Type" value="">
                </div>
              </div>

            </div>

          </div>

          <br class="clearBoth">
          <br class="clearBoth">

        </div>

      </div>

  		<div id="cardArea">
  		</div>

    </div>
    <footer>
      Created and designed in USA
      <br>
      Arginix &copy; 2017
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
  </body>
</html>
